main {
    padding: 20px;
}

main>h3 {
    text-decoration: underline;
    text-decoration-style: dotted;
}

#socials {
    display: flex;
    flex-direction: row;
}

.contact {
    padding: 10px;
    margin: 5px 10px;

    border: 1px solid black;
    border-radius: 10px;

    font-size: 14px;
}

main>div>form {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}