nav {
    padding: 20px;
    border-bottom: solid black 2px;

    background-color: #dfdfdf;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav>h2 {
    margin: 0;
}

#nav-links>a:any-link {
    color: black;
    min-width: fit-content;
    padding: 10px;
    margin: 10px 5px;

    border: solid black 2px;
    border-radius: 5px;
}

@media only screen and (max-width: 550px) {
    #nav-links {
        display: none;
    }
}