.project {
    padding: 0.1px 20px;
    margin-bottom: 20px;

    border: 2px solid black;
    border-radius: 5px;
}

.project>* {
    margin: 15px 0px;
}

.project-title {
    border-bottom: solid black 1px;
}

.project-links::-webkit-scrollbar,
.skills::-webkit-scrollbar {
    display: none;
}

.project-links {
    padding-left: 15px;

    display: flex;
    flex-direction: row;
    overflow: auto;

    border-left: solid black 2px;

    text-wrap: nowrap;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.project-link {
    min-width: fit-content;

    margin: 0px 5px;
}