#projects {
    padding: 0px 25px;

    overflow: auto;
}

.project {
    width: calc(100% - 50px);

    padding: 0.1px 20px;
    margin-bottom: 40px;

    border: 2px solid black;
    border-radius: 5px;
}

#projects>h2 {
    margin-bottom: 20px;

    border-bottom: solid black 2px;
}

.project>* {
    margin: 15px 0px;
}

.project-title {
    border-bottom: solid black 1px;
}

.project-description {
    text-indent: 15px;
}

.project-links::-webkit-scrollbar,
.skills::-webkit-scrollbar {
    display: none;
}

.project-links,
.skills {
    padding: 10px;

    display: flex;
    flex-direction: row;
    overflow: auto;

    border: solid black 2px;
    border-radius: 5px;

    text-wrap: nowrap;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.project-link {
    min-width: fit-content;

    margin: 0px 5px;
}


@media only screen and (min-width:1120px) {
    #projects {
        width: 70vw;
        max-height: 100vh;
    }
}